alabaster==0.7.8
asyncoro==4.3.0
Babel==2.3.4
click==6.6
coverage==4.2
cycler==0.10.0
dispy==4.6.17
distlib==0.2.3
docutils==0.12
enum34==1.1.2
ete3==3.0.0b35
flake8==2.6.0
futures==3.0.5
imagesize==0.7.1
itsdangerous==0.24
Jinja2==2.11.3
Logbook==0.12.5
MarkupSafe==0.23
mccabe==0.5.0
numpy==1.9.2
packaging==16.7
pep8==1.7.0
pipdeptree==0.7.0
ply==3.8
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
Pygments==2.1.3
pymongo==3.2.2
pyparsing==2.1.0
pytest==3.0.2
pytest-cov==2.3.1
python-dateutil==2.4.2
pytz==2015.6
requests==2.7.0
scipy==0.17.0
simplejson==3.8.0
six==1.9.0
snowballstemmer==1.2.1
Sphinx==1.4.4
tabulate==0.7.5
thriftpy==0.3.7
Werkzeug==0.11.10
xdot==0.6
